*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    position: relative;
    padding: 15px 20px;
    color: white;
    width: 350px;
    border-radius: 10px;
    height: 200px;
    background-color: black;
}
.details{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 40px;
    width: 80px;
}
.details p{
    font-weight: 650;
}
#txt{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #373b3e;
}
input[type="text"]{
    font-size: 22px;
    color: white;
    outline: none;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.cvv{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #373b3e;
    margin-top: 25px;
}
select{
    outline: none;
    margin-top: 8px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
}
#months{
    position: absolute;
    left: 3.9%;
}
option{
    color: black;
}
#years{
    margin-left: 80px;
}
#txt1{
    background-color: transparent;
    margin-right: 6px;
    font-size: 15px;
    position: absolute;
    right: -36%;
}